a{
 color:#000000;
}
body {
	background-color:#000000;
	color:#FFFFFF;
	line-height:1.36;
}

#meirl {
	text-align:center;
}

.navbar {
	text-align:center;
}

#hr {
	width:20em;
}

#slugcat {
	height:100%;
}

.linklist {
	display:inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
}

@media screen and (min-width: 48em) {
	.linklist { width:630px;}
}

.link-box-padded ul {
	list-style:none;
}

.link-box-padded a {
	color:#FFFFFF;
	font-size:20px;
}

.navbar a {
	color:#FFFFFF;
	text-decoration:none;
	display: inline-block;
	font-size:1.4em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.linkbar {
	text-align:center;
}
.linkbar ul {
	list-style-type:none;
	overflow:hidden;
}

.linkbar li{
	display: block;
	padding:8px;
	margin:8px;
	color:#FFFFFF;
	text-decoration:none;
	font-family:Termina, monospace;
	font-size:large;
	text-align:center;
}

.linkbar li a{
	display: block;
	color:#FFFFFF;
}

h4 {
	font-style:italic;
}

h4 a{
	color:#FFFFFF;
}

.box-padded {
	background-color: #FFFFFFCC;
	color:#000000;
	border-radius:25px;
	padding: 0.5em 1em;
	margin: 0.5em;
}

.gamebox {
	border-style:solid;
	border-color:#242E7F;
	height: 275px;
	padding: 0.5em 1em;
	margin: 0.5em;
	width: 275px;
}

.wrapper {
	max-width: 73em;
	margin: auto;
	border-radius:25px;
	padding: 0.5em 1em;
	margin-top: 25px;
}

body, html, button, input, select, textarea, h1, h2, h4,   
    .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: Termina, monospace;
    }
